@import '../utilities/index';

html {
    margin: 20px;
}

body {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.hidden {
    display: none;
}

* {
    margin: 10px;
}



@media (max-width: $tablet) {
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &-li {
            margin-top: 100px;
            width: 100%;
        }
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
}