@import '../utilities/index';

html {
    margin: 20px;
}

body {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hidden {
    display: none;
}

* {
    margin: 10px;
}

@media (min-width: $tablet) {
    display: flex;
}