.btn {
    width: 375px;
    padding: 10px 30px;
    margin-top: 15px;
    border: none;
    color: white;
    background-color: $default;
    border-radius: 5px;


}

.default {
    background-color: $default;
    @include button;
}

.success {
    background-color: $success;
    @include button($success);
}

.error {
    background-color: $error;
    @include button($error);
}

.warning {
    background-color: $warning;
    @include button($warning);
}

.info {
    background-color: $info;
    @include button($info);
}