.nav {
    margin: 10px;

    & a {
        color: $text-color;
        text-decoration: none;
        margin: 20px;
    }
}



.row {
    display: flex;
    width: auto;
    justify-content: space-between;
}